@font-face {
  font-family: "GoodVibrations";
  src: url("./GoodVibrations\ Script.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./Montserrat-SemiBold.ttf");
}
